.consult
{
    background-image:url('../img/form-image2.png'), url(../img/background1.png) ;
    background-repeat: no-repeat, repeat;
    background-position: center, left;
    @media (max-width: 768px)
    {
        background-image: url(../img/background1.png) ;
        background-position: left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;

        background-size: cover;
    }
}
.consult__wrapper
{
    display: flex;

    border: 1px solid transparent;

    justify-content: space-between;
    @media (max-width: 768px)
    {
        flex-direction: column;
padding-bottom:20px;
        justify-content: center;
    }
}
.consult__form
{
    box-sizing: border-box;
    margin: 35px 20px 35px auto ;
    margin-left: auto;
    padding: 10px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 43px rgba(0, 0, 0, .13);
    @media (max-width: 768px)
    {
        margin:auto;
    }
    @media (max-width: 426px)
    {
        margin: auto;
    }
}
.consult__fieldset
{
    padding: 25px 34px;
    @media (max-width: 768px)
    {
        padding: 10px 15px;
    }
}
.consult__left
{
    padding: 71px 0;
    // @media (max-width: 1025px)
    // {
    //     text-align: right;
    // }
    @media (max-width: 768px)
    {
        padding: 10px 0;

        text-align: center;
    }
}
.consult__right
{
    // @media (max-width: 1025px)
    // {
    //     order: -1;
    // }
    @media (max-width: 768px)
    {
        order: 1;
    }
    @media (max-width: 426px)
    {
        padding-bottom: 10px;
    }
}
.consult__text1
{
    margin-bottom: 25px;

    font-size: 20px;
    @media (max-width: 768px)
    {
        margin-bottom: 15px;

        font-size: 16px;
    }
}

.consult__text2
{
    font-size: 30px;
    @media (max-width: 768px)
    {
        font-size: 20px;
    }
}
.consult__text3
{
    font-size: 30px;

    color: #30929a;
    @media (max-width: 768px)
    {
        font-size: 20px;
    }
}

.consult__breadcrubms
{
    margin-bottom: 89px;
    // @media(max-width: 1025px)
    // {
    //     margin-bottom: 200px;

    //     justify-content: flex-end;
    // }
    @media(max-width: 768px)
    {
        margin-bottom: 20px;

        justify-content: flex-start;
    }
}

.consult__contacts.consult{

    background-image: url(../img/background1.png) ;
    background-repeat:  repeat;
    background-position:  left;
    @media (max-width: 768px)
    {
        background-position: left;
    }
}

.consult__contacts .consult__wrapper{
    background-image:url(../img/form-image3.png);
    background-repeat: no-repeat;
    background-position:  left -250px bottom 0;
    -webkit-background-size: 1329px 567px;
    -moz-background-size: 1329px 567px;
    -ms-background-size: 1329px 567px;
    -o-background-size:1329px 567px;
    background-size: 1329px 567px;

@media(max-width: 768px){
       background-position:  left -250px bottom 0;
       background-image:none;
    }
}


.consult__contacts .consult__right{
    @media(max-width: 1024px){
        order:1;
    }
}
.consult__contacts .consult__text{
 @media(max-width: 768px){
      opacity:0;
    }
}
.consult__services .consult__text1
{
   

    @media (max-width: 426px)
    {
        

        font-size: 20px;
    }
}

.consult__services .consult__text2
{
    
    @media (max-width: 426px)
    {
        font-size: 26px;
        margin-bottom: 10px;
    }
}
.consult__services .consult__text3
{
   
    @media (max-width: 4268px)
    {
        font-size: 24px;
    }

}