.form
{
    border: 1px solid transparent;
    background-color: #f2f8fa;
    background-image: url(../img/form-image.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 1015px 676px;
    -moz-background-size: 1015px 676px;
    -ms-background-size: 1015px 676px;
    -o-background-size: 1015px 676px;
    background-size: 1015px 676px;
}
.form-wrapper
{
    box-sizing: border-box;
    width: 400px;
    margin: 64px 20px 61px auto ;
    margin-left: auto;
    padding: 10px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 43px rgba(0, 0, 0, .13);

    @media (max-width: 1024px)
    {
        margin: 64px auto  61px 20px ;
    }
    @media (max-width: 426px)
    {
        width: 370px;
        margin: 64px auto  61px auto ;
    }
    @media (max-width: 376px)
    {
        width: 350px;
        margin: 64px auto  61px auto ;
    }
    @media (max-width:320px)
    {
        width: auto;
    }
}
.form__fieldset
{
    padding: 43px 34px 34px 34px;

    border: 1px solid #dcdcdc;
    border-radius: 10px;

    @media (max-width: 426px)
    {
        padding: 43px 20px 20px 20px;
    }
    @media (max-width: 376px)
    {
        padding: 43px 10px 20px 10px;
    }
}
.form__title
{
    display: block;
    margin-bottom: 28px;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
    @media (max-width: 426px)
    {
        font-size: 16px;
    }
}
.form__list
{
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}
.form__list li
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form__list li label
{
    margin-bottom: 7px;

    font-size: 14px;
    @media (max-width: 426px)
    {
        font-size: 12px;
    }
}
.form__list li input
{
    box-sizing: border-box;
    height: 46px;
    margin-bottom: 12px;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 23px;
    outline: none;
}
.form__message textarea
{
    margin-bottom: 26px;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 23px;
    outline: none;

    resize: none;
}
.form__list .form__mail,
.form__list .form__number
{
    width: 47%;
}
.form__list .form__checkbox
{
    flex-direction: row;

    align-items: flex-end;
}
.form__list .form__checkbox label
{
    position: relative;

    margin-bottom: 27px;
    padding-left: 41px;

    font-size: 12px;

    opacity: .55;
    color: #000;

    cursor: pointer;

    &:before
    {
        position: absolute;
        top: -50%;
        left: 0;

        display: block;
        width: 31px;
        height: 31px;

        border: 1px solid #e8e8e8;
        border-radius: 6px;

        content: '';
    }
}

.form__list .form__checkbox input
{
    display: none;
}
.form__checkbox input[type=checkbox]:checked + label:after
{
    position: absolute;
    top: 0;
    left: 10px;

    display: block;
    width: 16px;
    height: 17px;

    background-image: url(../img/v.png);
    background-repeat: no-repeat;

    content: '';
}
.form__list .form__checkbox label a
{
    color: #1c8d97;
}
.form__submit-wrapper
{
    display: flex;

    justify-content: center;
}
.form__submit-wrapper input[type='submit']
{
    padding: 15px 25px 18px 25px;

    font-size: 20px;

    color: #fff;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #44c7d2;
    background-image: url(../img/blue-shadow.png);
    box-shadow: 0 5px 17px 0  rgba(68, 199, 210, .35);

    cursor: pointer;
    @media (max-width: 426px)
    {
        padding: 10px 20px 13px 20px;

        font-size: 16px;
    }
    &:hover
    {
        box-shadow: 0 0 43px rgba(0,0,0,.3);
    }
}
input:hover,
textarea:hover
{
    box-shadow: 0 0 7px rgba(53, 175, 192, .5);

    cursor: pointer;
}
