.header
{
    top: -132px;

    background-color: transparent;

    transition: top 1s;
    // transition: .3s linear;
    // transition: all 0.1s;
    @media (max-width: 768px)
    {
        background-color: #ffff;
        -ms-background-color: #ffff;
    }
}
.header__scrolled
{
    position: fixed;
    // transition: all 0.2s;
    z-index: 10;
    top: 0;

    width: 100%;

    background-color: #ffff;
    @media (max-width: 768px){
        position:static;
    }
 }

.header__first
{
    // justify-content: space-between;
    // align-items: flex-start;
    position: relative;
    z-index: 10;
padding: 19px 10px 5px;
    display: flex;
    flex-direction: row;
    @media (max-width: 768px)
    {
        display: block;
        flex-direction: column;
        padding: 5px 10px 5px;

        background-color:transparent;

        align-items: center;
    }
}

.header__first-logo
{
    margin-right: 160px;
    @media (max-width: 1024px)
    {
        margin-right: 20px;
    }
    @media (max-width: 768px)
    {
        //align-self:flex-start;
        display: flex;
        margin: 0;

        justify-content: space-between;
        align-items:flex-start;
    }
}
.header--opened .header__first-logo
{
    @media (max-width: 768px)
    {
        background-color: #fff;
    }
}
.header__first-logo a img
{
    @media (max-width: 768px)
    {
        width: 79px;
        height: 68px;
        margin-top: 17px;
    }
}
.header__second{
    display:none;
    @media (max-width: 768px){
        display:block;
        //align-items:center;
    }
      @media (max-width: 426px){
        display:none;
        //align-items:center;
    } 

}
.header__second.header__first-tel{
     display:none;
    @media (max-width: 768px){
      align-items:flex-end;
       margin-top: 31px;
       display:block;

    }
    @media (max-width: 426px){
        display:none;
        //align-items:center;
    } 
}
.header__second .header__first-number{
     display:none;
    @media (max-width: 768px){
       margin-bottom: 0;
       display:block;

    }
}
.header__second .header__first-number a:before
{
    
    @media (max-width:768px)
    {
        top: 0px;
         left:-40px; 
        width: 36px;
        height: 30px;
        -webkit-background-size: 44px 38px;
        -moz-background-size: 44px 38px;
        -ms-background-size: 44px 38px;
        -o-background-size: 44px 38px;  
        background-size: 36px 30px;
    }
}
.header__second.header__first-address{
    
    @media (max-width: 768px){
       font-size: 14px;
      margin-bottom: 0;
      margin-top: 31px
    }
}

.header--opened .header__first-address,
.header--opened .header__first-work,
.header--opened .header__first-tel,
.header--opened .main-nav__list{
    display:none;
}

.header__modal-overlay{
    
    position:fixed;
width:100%;
height: 3000px;
    background-color:rgba(0, 0, 0, .2);
    display:none;
z-index: 0;
left:0;
}
.header--closed .header__modal-overlay,
.header--closed .header__modal{
    display:none;
}
.header--opened .header__modal-overlay,
.header--opened .header__modal{
    display:block;
}
.header__modal{

    position:absolute;
background-color:#fff;
width:100%;
padding-left:-5px;
max-height: 100vh;
overflow-y: auto;
top:0;
left:0;
right:0;
}
.header__modal-menu ul{
list-style:none;
margin:0;
padding:0;
padding: 10px 0;
}
.header__modal-menu ul li {

text-align:center;
}
.header__modal-menu ul li a{
display:block;
text-decoration:none;
font-size: 24px;
line-height: 60px;
color: #000000;
&:hover{
    background-color: #42c7d2;
    color: #ffffff;
}
@media (max-width: 426px){
        font-size: 18px;
        line-height:40px;
    } 
}
.header__modal__back{
line-height:100px;
color: #000000;

font-size: 30px;
font-weight: 400;
text-align:center;
@media (max-width: 426px){
        font-size: 0;
        line-height:50px;
    } 

}
.header__modal__back-wrapper{
    display:flex;
    border-bottom:1px solid #c2c2c2;
    text-align:center

}
.header__modal-toggle{
   position: relative;
   z-index:10;
    width: 30px;
    height: 17px;
  margin-right:32%;
    padding: 0;
    margin-top:35px;
    border: 0;
     outline: none;
    background-color: transparent;
    &:before{
        content:'';
        position:absolute;
        display:inline-block;
          background-color: black;
         width: 30px;
    height: 3px;
    top:14px;
    left:20px;
    z-index: 10;
    @media(max-width: 426px){
      top:-10px;   
        }
    }
    
    &:after{
        position:absolute;
        color: black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 15px;
    height: 15px;
   display:block;
    content: '';
    transform: rotate(-135deg);
    left:20px;
    top:7px;
    @media(max-width: 426px){
      top:-17px;   
        }
    }

    
    @media(max-width: 426px){
     margin-right:12%;   
    }
}

.header__tablet
{
    display: flex;

    flex-grow: 2;
    justify-content: space-between;

    @media (max-width: 768px)
    {
        display: none;
        flex-direction: column;

        background-color: #ffff;

        flex-grow: 0;
        align-items: center;
    }
}
.header__scrolled .header__first
{
    padding: 5px 0 0;
}
.header__first-work
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;

    color: #000;
    @media (max-width: 768px)
    {
        flex-direction: column;

        order: 2;
        align-items: center;
    }
}
.header__first-address,
.header__first-hours
{
    position: relative;

    margin-right: 30px;
    padding-left: 36px;
    &::before
    {
        position: absolute;
        top: -5px;
        left: -5px;

        display: block;
        width: 36px;
        height: 36px;

        background-repeat: no-repeat;
        -webkit-background-size: 36px 36px;
        -moz-background-size: 36px 36px;
        -ms-background-size: 36px 36px;
        -o-background-size: 36px 36px;
        background-size: 36px 36px;
        content: '';
        @media (max-width: 768px)
        {
            left: -45px;
        }
    }
    @media (max-width: 1024px)
    {
        padding-left: 36px;
    }
    @media (max-width: 768px)
    {
        margin: 0;
        padding: 0;
    }
}
.header__first-address
{
    padding-left: 56px;

    @media (max-width: 768px)
    {
        margin-bottom: 20px;
        padding: 0;
    }
}
.header__first-address::before
{
    top: -5px;
    left: 15px;

    background-image: url('../img/icon_location.png');
    @media (max-width: 768px)
    {
        left: -45px;
    }
}

.header__first-hours::before
{
    background-image: url('../img/icon_time.png');
}
.header__first-middle
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    @media (max-width: 768px)
    {
    }
}
.header__first-tel
{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    text-align: right;
    @media (max-width: 1024px)
    {
        text-align: left;
    }
    @media (max-width: 768px)
    {
        margin-bottom: 10px;

        align-items: center;
    }
}
.header__first-tel a
{
    display: inline-block;
}
.header__first-number
{
    margin-bottom: 23px;
    @media (max-width: 768px)
    {
        margin-bottom: 15px;
    }
}
.header__scrolled .header__first-number
{
    margin-top: 15px;
    margin-bottom: 0;
}
.header__first-number a
{
    position: relative;

    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    color: #000;
    @media (max-width:426px)
    {
        font-size: 18px;
    }
}
.header__first-number a:before
{
    position: absolute;
    top: -30%;
    left: -60px;

    display: block;
    width: 54px;
    height: 48px;

    background-image: url(../img/icon_tel.png);
    background-repeat: no-repeat;

    content: '';
    @media (max-width:426px)
    {
        top: -20%;

        width: 44px;
        height: 38px;
        -webkit-background-size: 44px 38px;
        -moz-background-size: 44px 38px;
        -ms-background-size: 44px 38px;
        -o-background-size: 44px 38px;  
        background-size: 44px 38px;
    }
}



.header__first-order a
{
    display: inline-block;

    font-size: 14px;
    text-decoration: none;

    color: #30929a;
    border-bottom: 1px dashed;
}
.none
{
    display: none;
}
.show
{
    display: block;
}

.header--closed .header__toggle
{
    display: none;
    @media (max-width: 768px)
    {
        display: block;
    }
}

.header__toggle
{
    position: relative;

    width: 34px;
    height: 28px;
    margin-right: 10px;
    padding: 0;
    margin-top:35px;
    border: 0;
    outline: none;
    background-color: transparent;
    @media(max-width: 426px){
      margin-top:18px;   
        }
    }




.header--opened .header__toggle
{
    &::before,
    &::after
    {
        position: absolute;
        z-index: 50;
        top: 10px;
        right: 0;

        display: block;
        width: 34px;
        height: 3px;

        background-color: #000;

        content: '';
        transition: all 1s;
    }

    &::before
    {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after
    {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
.header--closed .header__toggle
{
    &::before
    {
        position: absolute;
        top: 0;
        // bottom: 20px;
        //    right: 0;
        right: 3px;

        display: block;
        width: 34px;
        height: 3px;

        background-color: #000;
        box-shadow: 0 10px 0 0 #000, 0 20px 0 0 #000;

        content: '';
        transition: all 1s;
    }
    &::after
    {
        display: none;
    }
}

@media (min-width: 375px)
{
    .header--closed .header__toggle::before
    {
        top: 5px;
    }
}

.header--no-js .header__toggle
{
    display: none;
}


.header--opened .header__modal-overlay
{
   opacity:1;
}
.header--no-js .header__modal-overlay
{
    opacity:1;
}
