.main-block{
	height: 711px;
    margin-top: -121px;
    background-image:url(../img/background1.png);
    
}
.main-block__wrapper{
  position:relative;
}	

.main-block__wrapper .sl-count__main{
	position:absolute;
	left:83px;
	bottom:85px;
	font-size: 26px;
	color: #010101;
}
.main-block__wrapper  .slick-prev{
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	border-radius:30px;
	// margin-top: 286px;
	top:613px;
	left:0;
	z-index:2;
	margin-left: 0;

}
.main-block__wrapper  .slick-next{
	background-color: #ffffff;
	width: 40px;
	height: 40px;
	border-radius:30px;
	//right:45%;
    left:160px;
	top:613px;
	// margin-top: 186px;
	z-index:2;
	margin-right: -15px;
}
.main-block__wrapper  .slick-prev:hover,
#personal .slick-next:hover{
box-shadow: 0 0 43px rgba(0, 0, 0, 0.13);
}
.main-block__wrapper .slick-prev:before,
.main-block__wrapper .slick-next:before{
content:'';

}
.main-block__wrapper  .slick-prev:before{
	content:'';
	color:black;
	display: block;
	width:8px;
	height: 8px;
	transform: rotate(45deg);
	border-left:2px solid black;
	border-bottom:2px solid black;
	position:relative;
	left:15px;
}
.main-block__wrapper  .slick-next:before{
	content:'';
	color:black;
	display: block;
	width:8px;
	height: 8px;
	transform: rotate(45deg);
	border-right: 2px solid black;
	border-top:2px solid black;
	position:relative;
	right:-15px;
}
.main-block__slide{

 	height: 711px;
 	padding:286px 0 284px;
 	box-sizing:border-box;

}
.main-block__slide1{
 background-image:url(../img/slide1.png);	
 background-position: right 50px bottom 0 ;
 background-repeat:no-repeat;
 }
.main-block__slide2{
	background-image:url(../img/form-image.png);	
 background-position: right 50px bottom 0 ;
 background-repeat:no-repeat;
}
.main-block__slide3{
	background-image:url(../img/video__mask.png);	
 background-position: right 50px bottom 50%;
 background-repeat:no-repeat;
}
.main-block__slide p{
	font-size: 42px;
	color: #000000;
}
.main-block__button a{
	padding:22px 25px;
	font-size: 20px;
}