.main-nav__list{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	// position:relative;
	@media  (max-width: 768px){
	flex-direction: column;	
	align-items:center;
	}
}

.main-nav__list{
	list-style: none;
	padding:0;
	margin: 0;
}

 .header__scrolled .main-nav__list>li>a{
 	padding:23px 25px 23px 25px;

 	
@media  (max-width: 768px){
	padding:10px 0px 10px 0px;	
	}
	
 }
.main-nav__list>li>a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	display:inline-block;
	padding:19px 25px 30px 25px;
	@media  (max-width: 1024px){
	padding:10px 10px 10px 10px;	
	}
	@media  (max-width: 768px){
	padding:10px 0px 10px 0px;	
	}
}
.main-nav__list>li:hover>a{
	box-shadow: 0 -1px 6px rgba(0, 58, 88, 0.1);
	background-color: #fdfefe;
	@media  (max-width: 1024px){
box-shadow: none;
	background-color: transparent;
	color:#42c7d2;
}	
}