.price-block{
	background-color: #f2f8fa;
}
.price-block__wrapper{
	padding:0 150px;
}
.price-block__title{
	padding:28px 0 50px; 
}
.price-block__table{
border-radius: 10px;	
border-spacing:0 20px ;
}
.price-block__row-title{
	border-spacing:0 ;
}
.price-block__row{
	/* Style for "Rounded Re" */

box-shadow: 0 0 27px rgba(192, 193, 193, 0.38);
border-radius: 10px;
background-color: #ffffff;
margin-bottom:20px;

}


.price-block__column1{
	padding:43px 70px 43px 35px;
	/* Style for "Лечение ка" */

color: #2caeb9;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
white-space: nowrap;
font-size: 20px;
font-weight: 400;
line-height: 24px;
border-left:7px solid ;
}
.price-block__column2{

color: #242424;

font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.price-block__column3{
 padding:0 34px 0 0;
	/* Style for "Лечение ка" */

color: #000000;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
white-space: nowrap;
font-size: 24px;
font-weight: 400;
line-height: 24px;

}

.price-block__title1,
.price-block__title2,
.price-block__title3{
	text-align: left;
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	border:none;

}
.price-block__title1{
padding:0 0 0 35px;
}

.price-block__button a{

border-radius: 25px;
border: 1px solid #45c8d3;
background-color: transparent;
background-image:none;
box-shadow:none;
color: #000000;

}
.price-block__button a span{

color: #45c8d3;
}

.price-block__button {
	text-align: right;
	padding-top:14px;
	padding-bottom:35px
}