.services
{
    border: 1px solid transparent;
}
.services__title
{
    margin: 40px 0 40px;
    @media (max-width: 768px){
        margin:40px 0 20px ;
    }
}
.services__wrapper
{
    position: relative;

    display: flex;
    overflow: hidden;
    padding: 40px 0;
   border: 1px solid transparent;
    background-image: url(../img/therapy__img.png);
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;

    @media (max-width: 768px)
    {
       background-image: none;
       justify-content:flex-start;
       flex-direction:column;
        align-items:flex-start;
      height:345px;
      flex-wrap:wrap;
      padding:40px 0 0 0;
    }
    @media (max-width: 426px)
    {
        height:780px;
         align-items:center;
           justify-content:space-between;
            padding:20px 0 20px 0;
        
    }
}

.services__button
{
    // position: absolute;
    // bottom: 40px;
    // left: 50%;

    // margin-left: -112px;
    position:relative;
    z-index: 2;
    text-align:center;
    margin-top: -100px;
    margin-bottom: 60px;
@media (max-width: 768px){
  margin-top: 0;
  padding:27px 44px 20px;
    margin-bottom: 0;
    background-color: #f2f8fa;
    background-image:url(../../img/background__services.png);
    background-repeat:no-repeat;
    margin-bottom: 50px
}
    @media (max-width: 426px)
    {
        padding:27px 0px 20px ;
         background-image:url(../../img/background__services2.png);
    }
}
.services__button-text{
    display:none;
    @media (max-width: 768px){
        display:block;

color: #000000;

font-size: 24px;
font-weight: 400;

padding:0;
margin:0;
margin-bottom: 12px;
padding-left:34%;
    }
    @media(max-width: 426px){
        font-size: 18px;
        padding-left:54%;
        text-align: left;
    }
}
.services__button a
{
    padding: 14px 42px 12px 25px;
text-align:right;
    font-size: 20px;
    line-height: 19px;
position:relative;
    border-radius: 32px;
    background-color: #44c7d2;
    background-image: url(../img/blue-shadow.png);
    box-shadow: 0 5px 17px 0  rgba(68, 199, 210, .35);
    &:before{
        content:'>>';
        position:absolute;
        right:15px;
        top:25px;
 @media (max-width: 768px){
     top:25px;
    }
     @media (max-width: 426px){
     top:15px;
    }
    }
     @media (max-width: 768px){
     font-size: 18px;
    }
       @media (max-width: 426px){
     font-size: 15px;
      padding: 5px 41px 5px 19px;
     
      margin-right: auto;
      display: inline-block;
      margin-right:0;
    }
}

.services__button-wrapper{
    @media (max-width:768px){
        text-align: right;
    }
}

.services__wrapper .services__item a{
     display:inline-block;
 font-size: 19px;
    line-height: 24px;
    text-decoration: none;
color: #242424;
position:relative;
@media(max-width: 768px){
   font-size: 16px; 
   line-height:18px;
}
@media(max-width: 426px){
   text-align:center;
   display: block;
}
}


.services__wrapper a:hover,

{
    text-decoration: underline;

    color: #43c7d2;
}


.services__wrapper .services__item
{
   
    margin-top: 0px;
    margin-bottom: 51px;
   position:relative;
    width: 50%;

    
    @media (max-width: 768px)
    {
    width:230px;
    min-height:64px;
    display:block;
    page-break-inside: avoid;
    vertical-align: middle;
margin-bottom: 20px;
    }
    @media (max-width: 426px)
    {
        width:48%;
        margin-top: 90px;
        margin-bottom: 0;
        
    }
}

.services__item:nth-child(odd)
{
    text-align: right;
      @media (max-width: 768px)
    {
    text-align: left;
    }
}
.services__item:nth-child(odd):after{

        position: absolute;
        top: 50%;
        margin-top: -37px;
         
        

        display: block;
        width: 74px;
        height: 74px;

        background-repeat: no-repeat;

        content: '';
        @media (max-width:768px){
         width: 64px;
        height: 64px;  
          background-size:64px 64px;
          top: -20px;
          margin-top: 0;
        }
          @media (max-width:426px){
          left:50%;
          margin-left: -32px;
          top: -80px;
          
        }
}
.services__item:nth-child(even):before{

        position: absolute;
        top: 50%;
        margin-top: -37px;
         
        

        display: block;
        width: 74px;
        height: 74px;

        background-repeat: no-repeat;

        content: '';
        @media (max-width:768px){
         width: 64px;
        height: 64px;   
        background-size:64px 64px;
        margin-top: 0;
        top: -20px;
        }
         @media (max-width:426px){
          left:50%;
          margin-left: -32px;
          top: -80px;
          
        }
}
.services__1 a{
  padding-right: 300px;
 
  }
.services__1:after{
    background-image: url(../img/round1.png);
    left: 350px;
    @media (max-width:1025px){
     left: 250px;   
    }
     @media (max-width:768px){
     left: 0px;   
    }
    }
.services__2 a{
  padding-left: 300px;
}
.services__2:before{
    background-image: url(../img/round6.png);
    right: 350px;
     @media (max-width:1025px){
     right: 250px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__3 a{
  padding-right:365px;
  
}
.services__3:after{
    background-image: url(../img/round2.png);
    left: 310px;
     @media (max-width:1025px){
     left: 210px;  

    }
     @media (max-width:768px){
     left: 0px;   
    }
    }
.services__4 a{
 padding-left: 365px;
}
.services__4:before{
    background-image: url(../img/round7.png);
    right: 310px;
      @media (max-width:1025px){
     right: 210px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__5 a{
  padding-right:390px;

}
.services__5:after{
    background-image: url(../img/round3.png);
     left: 300px;
       @media (max-width:1025px){
     left: 200px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__6 a{
 padding-left: 369px;
}
.services__6:before{
    background-image: url(../img/round8.png);
    right: 300px;
      @media (max-width:1025px){
     right: 200px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__7 a {
  padding-right:365px;
 
}
.services__7:after{
    background-image: url(../img/round4.png);
    left: 320px;
      @media (max-width:1025px){
     left: 220px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__8 a{
 padding-left: 365px;

}
.services__8:before{
    background-image: url(../img/round9.png);
    right: 320px;
      @media (max-width:1025px){
     right: 220px;   
    }
     @media (max-width:768px){
     left: 0px;   
    }
    }
.services__9 a{
  padding-right:310px;
  
}
.services__9:after{
    background-image: url(../img/round5.png);
    left: 350px;
      @media (max-width:1025px){
     left: 250px;   
    }
      @media (max-width:768px){
     left: 0px;   
    }
    }
.services__10 a{
 padding-left: 310px;
}
.services__10:before{
    background-image: url(../img/round10.png);
    right: 350px;
      @media (max-width:1025px){
     right: 250px;   
    }
    @media (max-width:768px){
     left: 0px;   
    }
    }
.services__1 a,
.services__3 a,
.services__5 a,
.services__7 a,
.services__9 a
{
    @media (max-width: 768px){
padding-right:0;

padding-left:80px;
}
 @media (max-width: 426px){

padding-left:0px;
}

}
.services__2 a,
.services__4 a,
.services__6 a,
.services__8 a,
.services__10 a
{
    @media (max-width:768px){
padding-left:80px;
}
 @media (max-width: 426px){
padding-left:0px;
}
}