.statistic
{
    padding: 55px 0 65px;
    @media(max-width: 768px)
    {
        padding: 35px 0 45px;
    }
}
.statistic__title
{
    margin-bottom: 50px;
    @media(max-width: 768px)
    {
        margin-bottom: 40px;
    }
}
.statistic__wrapper
{
    display: flex;
    padding: 0 0 60px 47px;

    flex-wrap: wrap;
    justify-content: space-around;
    @media(max-width: 1024px)
    {
        padding: 0 ;

        justify-content: flex-start;
    }
    @media(max-width: 768px)
    {
        padding: 0 ;
    }
    @media(max-width: 426px)
    {
        justify-content: space-around;
    }
}
.statistic__number
{
    margin: 0 0 17px;

    font-size: 36px;
    font-weight: 400;

    color: #271c1c;
    @media(max-width: 768px)
    {
        font-size: 30px;
    }
}
.statistic__text
{
    font-size: 18px;
    font-weight: 400;

    color: #8d8d8d;
    @media(max-width: 768px)
    {
        font-size: 14px;
    }
}
.statistic__block
{
    position: relative;
    @media(max-width: 1024px)
    {
        margin-left: 100px;
    }
    @media(max-width: 768px)
    {
        margin-left: 80px;
    }
    @media(max-width: 426px)
    {
        width: 45%;
        margin-left: 0;

        text-align: center;
    }
    &:before
    {
        position: absolute;

        display: block;

        background-repeat: no-repeat;

        content: '';
    }
}
// .statistic__block:first-child{
//   margin:0 177px 0 100px;
// }
// .statistic__block:nth-child(2){
//  margin-right: 204px;
// }
// .statistic__block:nth-child(3){
//  margin-right: 173px;
// }
.statistic__block:first-child:before
{
    top: 0;
    left: -77px;

    width: 67px;
    height: 65px;

    background-image: url(../img/icon_tooth.png);
    @media(max-width: 768px)
    {
        top: 0;
        left: -40px;

        width: 37px;
        height: 35px;

        -webkit-background-size: 37px 35px;
           -moz-background-size: 37px 35px;
             -o-background-size: 37px 35px;
                background-size: 37px 35px;

            -ms-background-size: 37px 35px;
    }
    @media(max-width: 426px)
    {
        top: -40px;
        left: 50%;

        margin-left: -14px;
    }
}
.statistic__block:first-child
{
    // @media(max-width: 768px){
    //  margin-left: 20px;
    // }
}
.statistic__block:first-child,
.statistic__block:nth-child(4)
{
    @media(max-width: 426px)
    {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 0;
    }
}
.statistic__block:nth-child(2)
{
    @media(max-width: 426px)
    {
        order: 2;
    }
}
.statistic__block:nth-child(3)
{
    @media(max-width: 426px)
    {
        order: 1;
    }
}
.statistic__block:nth-child(2):before
{
    top: 10px;
    left: -77px;

    width: 68px;
    height: 50px;

    background-image: url(../img/icon_client.png);
    @media(max-width: 768px)
    {
        top: 0;
        left: -70px;

        width: 48px;
        height: 30px;

        -webkit-background-size: 47px 30px;
           -moz-background-size: 47px 30px;
             -o-background-size: 47px 30px;
                background-size: 48px 30px;

            -ms-background-size: 47px 30px;
    }
    @media(max-width: 426px)
    {
        top: -50px;
        left: 50%;

        margin-left: -23px;
    }
}
.statistic__block:nth-child(3):before
{
    top: 0;
    left: -77px;

    width: 62px;
    height: 67px;

    background-image: url(../img/icon_tooth2.png);
    @media(max-width: 768px)
    {
        top: 0;
        left: -55px;

        width: 42px;
        height: 47px;

        -webkit-background-size: 47px 47px;
           -moz-background-size: 47px 47px;
             -o-background-size: 47px 47px;
                background-size: 42px 47px;

            -ms-background-size: 47px 47px;
    }
    @media(max-width: 426px)
    {
        top: -60px;
        left: 50%;

        margin-left: -20px;
    }
}

.statistic__block:nth-child(4):before
{
    top: 0;
    left: -77px;

    width: 67px;
    height: 59px;

    background-image: url(../img/icon_tooth3.png);
    @media(max-width: 768px)
    {
        top: 5px;
        left: -55px;

        width: 47px;
        height: 39px;

        -webkit-background-size: 47px 39px;
           -moz-background-size: 47px 39px;
             -o-background-size: 47px 39px;
                background-size: 47px 39px;

            -ms-background-size: 47px 39px;
    }
    @media(max-width: 426px)
    {
        top: -40px;
        left: 50%;

        width: 37px;
        height: 35px;
        margin-left: -20px;

        -webkit-background-size: 37px 35px;
           -moz-background-size: 37px 35px;
             -o-background-size: 37px 35px;
                background-size: 37px 35px;

            -ms-background-size: 37px 35px;
    }
}
