.statistic{
padding:55px 0 65px;

}
.statistic__title{
	margin-bottom: 50px;
}
.statistic__wrapper{
	 padding:0 0 60px 47px;
	display: flex;
flex-wrap:wrap;
justify-content: space-around;
	
}
.statistic__number{
	color: #271c1c;
	font-size: 36px;
	font-weight: 400;
	margin: 0 0 17px;
}
.statistic__text{
	color: #8d8d8d;
	font-size: 18px;
	font-weight: 400;
}
.statistic__block{
	position: relative;
	&:before{
		content: '';
		display:block;
		position:absolute;
		background-repeat:no-repeat;
	}
}
// .statistic__block:first-child{
// 	 margin:0 177px 0 100px;
// }
// .statistic__block:nth-child(2){
// 	margin-right: 204px;
// }
// .statistic__block:nth-child(3){
// 	margin-right: 173px;
// }
.statistic__block:first-child:before{
  width:67px;
  height: 65px;
  background-image:url(../img/icon_tooth.png);
  top:0;
  left: -77px;
 
}
.statistic__block:nth-child(2):before{
  width:68px;
  height: 50px;
  background-image:url(../img/icon_client.png);
  top:10px;
  left: -77px;
    

}
.statistic__block:nth-child(3):before{
  width:62px;
  height: 67px;
  background-image:url(../img/icon_tooth2.png);
  top:0px;
  left: -77px;
  
}

.statistic__block:nth-child(4):before{
  width:67px;
  height: 59px;
  background-image:url(../img/icon_tooth3.png);
  top:0px;
  left: -77px;
}