.up{
	background-image:url(../img/background1.png);
	background-size:cover;
}
.up__wrapper{
	background-image:url(../img/background-2.png);
	background-repeat:no-repeat;
	padding:70px 670px 270px 0;
	@media (max-width: 1024px){
	padding:70px 470px 270px 0;	
	}
		@media (max-width: 768px){
	padding:30px 270px 160px 0;	
	background-size:900px auto;
	background-position: left 0 top 0;
	}
		@media (max-width: 426px){
	padding:20px 90px 60px 0;	
	background-size:contain;

	}
		@media (max-width: 376px){
	padding:20px 90px 20px 0;	
	background-size:cover;
background-position: left 0 bottom 0;
	}
}
.up__breadcrubms{
	margin-bottom:98px;
	@media (max-width: 768px){
	margin-bottom:120px;
}
	@media (max-width: 426px){
	margin-bottom:20px;
}
}
.up__text1{
	font-size: 20px;
	@media (max-width: 768px){
font-size: 18px;
}
	@media (max-width: 426px){
	font-size: 14px;
}
}
.up__text2{
	
	font-size: 30px;
	@media (max-width: 768px){
	font-size: 24px;
}
	@media (max-width: 426px){
	font-size: 16px;
}
}