.uslugi{
	border-top:1px solid transparent;
}
.uslugi__descr
{
	font-size:17px;
	line-height: 24px;
	text-align:center;
	margin:0;
	padding:0;
	padding:0 70px 60px;
	@media (max-width: 425px){
	padding:0 20px 20px;	
	}

}

.uslugi__title{
	margin:67px 0 50px;
}
.uslugi__wrapper{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	@media (max-width: 1024px){
	justify-content: center;	
	}
}
.uslugi__razdel{
	overflow: hidden;
min-height: 280px;
width: 619px;
margin-bottom:30px;
box-shadow: 0 -1px 6px rgba(0, 58, 88, 0.1);
border-radius:5px;
padding:49px 200px 18px 67px;
box-sizing: border-box;
background-image:url(../../img/img1.png);
background-repeat:no-repeat;
background-color:#f7f9fa;
@media (max-width: 1025px){
// width: 500px;
//background-size:500px auto;	
padding:29px 190px 10px 47px;
width: 100%;
background-position:right 0;
min-height: 200px;
}
@media (max-width:426px){
// width: 500px;
//background-size:500px auto;	
padding:29px 100px 10px 17px;
//width:500px;
background-position:right 0;
min-height: 200px;
}
}
.uslugi__razdel:first-child{
background-image:url(../../img/img1.png);	

}
.uslugi__razdel:nth-child(2){
background-image:url(../../img/img2.png);	

}
.uslugi__razdel:nth-child(3){
background-image:url(../../img/img2.png);	

}
.uslugi__razdel:nth-child(4){
background-image:url(../../img/img4.png);	

}
.uslugi__razdel:nth-child(5){
background-image:url(../../img/img5.png);	

}
.uslugi__razdel:nth-child(6){
background-image:url(../../img/img6.png);	

}
.uslugi__razdel:nth-child(7){
background-image:url(../../img/img7.png);	

}
.uslugi__razdel:nth-child(8){
background-image:url(../../img/img8.png);	

}
.uslugi__razdel:nth-child(9){
background-image:url(../../img/img9.png);	

}
.uslugi__razdel--wide{
	padding:49px 365px 18px 67px;
	width: 100%;
	
	@media (max-width: 1025px){
// width: 500px;
background-position:right 0;	
padding:29px 190px 0px 47px;
order:-1;
}
	@media (max-width: 426px){

background-position:right 0 bottom 0;	
padding:29px 10px 0px 17px;
order:-1;
}
}
.uslugi__razdel--wide .uslugi__razdel-list{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;


}
.uslugi__razdel--wide .uslugi__razdel-list div{
	@media (max-width: 426px){
		width:42%;
	
	}
	
}
// .uslugi__razdel--wide .uslugi__razdel-list div:first-child{
// 	@media (max-width: 426px){
// 		margin-right:10px;
	
// 	}
	
// }
.uslugi__razdel-list{
	list-style:none;
	padding:0;
}
.uslugi__razdel-list li{
	margin-bottom:5px;
	padding-left:30px;
    position:relative;
	&:before{
    content:'';
    position:absolute;
    display:block;
    width:16px;
    height: 16px;
    background-image:url('../img/icon_checkbox.png');
    background-repeat:no-repeat;
    top:0;
    left:0;
	}

}
.uslugi__razdel-list li a{
	text-decoration:none;
	color: #3e3e3e;
	font-size: 16px;
	&:hover{
	text-decoration: underline;
	color: #9ef1f8;	
	}
	@media(max-width:1024px){
		font-size: 14px;
	}
}
.uslugi__razdel-title{
	font-size: 22px;
	display:block;
	margin-bottom:10px;
	font-weight: 500;
	color: #101010;
}